.dropdown {
    position:static;
    align-content: flex-start;
    display:contents;

   }
   
   .dropdown-btn {
    background-color: #f5faf5;
    position:static;
    align-items: flex-start;
    color: rgb(5, 3, 60);
    padding: 16px;
    font-size: 16px;
    border:chartreuse;
    cursor:auto;
   }
   
   .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   }
   
   .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   }
   
   .dropdown-content a:hover {
    background-color: #f1f1f1;
   }
   
   .dropdown:hover .dropdown-content {
    display: block;
   }
   
   .dropdown:hover .dropdown-btn {
    background-color: #ffffff;
   }
   body {
    background-image: url('aib.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fill;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-size: cover;
    background-position: fill;
    color: #f1f1f1;
    font-size: 150%;
    font-style: bold;
  }
  h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f1f1f1;
    text-align: center;
    font-size: 400%;
  }